/* ==========================================================================

   How you style the page is up to you. Look to the design guides for help or just wing it!
   We've sorted the layout for you, you lucky things, so treat this like a coloring book.

   Remember, the most important bit today is learning about git (don't get too hung up on perfection)

   Here's some bits that will come in handy.

   ----Colours!----

   Blue - #4bafff
   Green - #19f3be
   Pink - #ff036a
   Dark Grey - #37444a

   ----Font stuff!----

   font-family: 'Montserrat', sans-serif;

   font-weight: 400;
   font-weight: 600;

   ----CSS properties----

   border-bottom: #19f3be 4px solid;
   background-color: #ff036a;
   color: #37444a;


   ========================================================================== */


/*------------------Global Styles---------------------*/

body {
  font-family: Montserrat, arial, sans-serif;
}

h1,
h2,
h3,
h4 {}

p {}

a {}


/*------------------Header and Nav---------------------*/

header {}

nav {
  border-bottom: 5px solid #ff036a;
}

nav ul li {}

nav ul li a {
  color: #37444a;
  text-decoration: none;
}

nav ul li a:hover {
  color: #ffffff;
  background-color: #ff036a;
  border-radius: 0.5em 0.5em 0 0;
}


/* use both of these classes to style the active nav link */


nav ul li a:active {
  color: #ffffff;
  background-color: #ff036a;
  border-radius: 0.5em 0.5em 0 0;
  padding-top: 2px;
}

.active {
  color: #ffffff;
  background-color: #ff036a;
  border-radius: 0.5em 0.5em 0 0;
}


/*------------------Schedule---------------------*/

.schedule {
    background-color: #ffffff;
}

.schedule p {
    font-size: 1em;
}

.time {
    background-color: #37444a;
    color: #ffffff;
}

.coffee {
    background-color: #4bafff;
}

.morning {
    background-color: #19f3be;
}

.lunch {
    background-color: #ff036a;
    color: #ffffff;
}

.afternoon {
    background-color: #19f3be;
}

.drinks {
    background: #4bafff;
}


/*------------------Setup page---------------------*/


div.setup a {
  color: #ff036a;
}

div.setup strong {
  background-color: #4bafff;
}

div.setup code {
  font-style: italic;
}




/*------------------Group 1---------------------*/


.groups h2:nth-of-type(1) {
  background-color: #19f3be;
  text-align: center;
}

.group1 {}

.group1 .person {}

.group1 .person h4 {}

.group1 .person img {}


/*------------------Group 2---------------------*/


/* .groups h2:nth-of-type(2) {}

.group2 {}

.group2 .person {}

.group2 .person h4 {}

.group2 .person img {} */


/*------------------Group 3---------------------*/


 .groups h2:nth-of-type(3) {
   text-transform: uppercase;
   font-size: 3rem;
   color: turquoise;  
   transform: scale(0);
   animation: size-bigger 1s infinite;
   transform-origin: left;
  }

  @keyframes size-bigger {

    50% {
      transform: scale(1);
    }

    100% {
      transform: scale(0);
    }
  }

.group3 {}

.group3 .person {}

.group3 .person h4 {}

.group3 .person img {} 


/*------------------Group 4---------------------*/


/* .groups h2:nth-of-type(4) {}

.group4 {}

.group4 .person {}

.group4 .person h4 {}*/

.group4 .person img {
  filter:grayscale(100%);
} 
.group4 .person img:hover {
  filter: hue-rotate(-150deg)
}
.cherry {
  color: #c40000;
}


/*------------------Footer---------------------*/

footer {
  background-color: #4bafff;
}
.footer-logo {}
