/* ==========================================================================
  
   How you style the page is up to you. Look to the design guides for help or just wing it!
   We've sorted the layout for you, you lucky things, so treat this like a coloring book.

   Remember, the most important bit today is learning about git (don't get too hung up on perfection)
   
   Here's some bits that will come in handy.
   
   ----Colours!----

   Blue - #4bafff 
   Green - #19f3be 
   Pink - #ff036a 
   Dark Grey - #37444a

   ----Font stuff!----
   
   font-family: 'Montserrat', sans-serif;
   
   font-weight: 400;
   font-weight: 600;

   ----CSS properties----
   
   border-bottom: #19f3be 4px solid;
   background-color: #ff036a;
   color: #37444a;


   ========================================================================== */


/*------------------Global Styles---------------------*/


/* body {}

h1,
h2,
h3,
h4 {}

p {}

a {} */


/*------------------Header and Nav---------------------*/


/* header {}

nav {}

nav ul li {}

nav ul li a {}

nav ul li a:hover {} */


/* use both of these classes to style the active nav link */


/* nav ul li a:active {}

.active {} */


/*------------------Schedule---------------------*/


/* .schedule {}

.time {}

.coffee {}

.morning {}

.lunch {}

.afternoon {}

.drinks {}

.time {} */

/*------------------Setup page---------------------*/
/*

div.setup a {}

div.setup strong {}

div.setup code {}

*/


/*------------------Group 1---------------------*/


/* .groups h2:nth-of-type(1) {}

.group1 {}

.group1 .person {}

.group1 .person h4 {}

.group1 .person img {} */


/*------------------Group 2---------------------*/


/* .groups h2:nth-of-type(1) {}

.group1 {}

.group1 .person {}

.group1 .person h4 {}

.group1 .person img {} */


/*------------------Group 3---------------------*/


/* .groups h2:nth-of-type(1) {}

.group1 {}

.group1 .person {}

.group1 .person h4 {}

.group1 .person img {} */


/*------------------Group 4---------------------*/


/* .groups h2:nth-of-type(1) {}

.group1 {}

.group1 .person {}

.group1 .person h4 {}

.group1 .person img {} */


/*------------------Footer---------------------*/


/* footer {}

.footer-logo {} */